.lesson_wrapper{
    color: #27187E;
    border-radius: 10px;
    padding: 0.8rem 1.3rem;

    font-size: 1.1rem;

    width: calc((85vw - 5rem - (7 * 10px)) / 7);
    height: 100%;

    border: 1px solid #5E79FD;

    cursor: pointer;

    transition: box-shadow .3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lessonPractice{
    background-color: #FFA947;
    border: .15rem solid #FF8600;
}

.lessonPractice .lesson_title{
    color: #000000;
}

.lessonPractice .lesson_room{
    color: rgba(0, 0, 0, 0.40);
}

.lessonLecture{
    background-color: #AEB8FE;
    border: .15rem solid #5E79FD;
}

.lessonLecture .lesson_title{
    color: #27187E;
}

.lessonLecture .lesson_room{
    color: #5E79FD;
}

.lesson_wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.lesson_title{
    color: #27187E;
}

.lesson_room{
    color: #5E79FD;
}