.navbar_wrapper{
    /*min-height: 100vh;*/
    width: 85vw;
    max-width: 1900px;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #27187E;
}

.navbar_wrapper h1{

}

.navbar_links_container{
    display: flex;
    gap: 3rem;

}

.navbar_links_container a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navbar_links_container a:focus {
    color: #27187E;
}

.navbar_links_container a:hover {
    color: #395bff;
}